<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen">
    <title>Meu Blog Fofo</title>
   
    

</head>
<body>
    <div class="corpo">
    <header>
        <h1>Bem-vindo(a) ao Meu Blog Fofo</h1>
        <nav>
        <div class="lista_link">
            <li>
                <li style="display: inline;"><a href="inicio" ><u>Início</u></a></li>
                <li style="display: inline;"><a href="fofurices"><u>Fofurices</u></a></li>
                <li style="display: inline;"><a href="sobre" ><u>Sobre</u></a></li>
                <li style="display: inline;"><a href="equipe"><u>Equipe</u></a></li>
                <li style="display: inline;"><a href="../forms/form.html"><u>Contato</u></a></li>

            </li>
        </div>
        </nav>
    </header>

    <main>
        <h2>Fofura diária</h2>
        <p>Todo ser humano possui uma certa afinidade por coisas fofas.</p>
        <p>Nesse caso, resolvemos compartilhar com as pessoas o que há de mais fofo no mundo para nós, que são lindinhos filhotinhos!</p>
        <p>Para começar já vai uma chuva de fofura!</p>
        <img src="../static/img/pexels-tina-nord-7324407.jpg" alt="cachorrinhos fofos na caçamba de uma picape">


    </main>

<div class="article">
    <article>
        <h2>Os benefícios de convivermos com filhotes fofos</h2>
        <p><strong>Aqui estão 10 principais benefícios de ter um filhote em casa:</strong></p>
        <ul style="list-style-type:square;">
            <li>Companheirismo: Filhotes são companheiros leais e amorosos, proporcionando uma presença constante e um vínculo emocional forte.</li>
            <br>
            <br>
            <li >Alegria e Diversão: Eles trazem alegria para o ambiente doméstico com sua energia contagiante e brincadeiras divertidas.</li>
            <br>
            <br>
            <li>Redução do Estresse: Interagir com filhotes pode diminuir o estresse e aumentar os níveis de felicidade, ajudando a aliviar as pressões do dia a dia.</li>
            <br>
            <br>
            <li>Atividade Física: Cuidar de um filhote envolve atividades físicas como brincar e passear, o que incentiva um estilo de vida mais ativo.</li>
            <br>
            <br>
            <li>Aprendizado e Desenvolvimento: Ter um filhote em casa é uma oportunidade educacional, especialmente para crianças, ensinando responsabilidade, empatia e habilidades de cuidado.</li>
            <br>
            <br>
            <li>Socialização: Filhotes precisam ser socializados desde cedo, o que pode ajudar a melhorar as habilidades sociais e a interação com outras pessoas e animais.</li>
            <br>
            <br>
            <li>Melhora da Saúde Mental: A presença de um filhote pode aumentar a sensação de bem-estar emocional e reduzir sentimentos de solidão ou isolamento.</li>
            <br>
            <br>
            <li>Estímulo Mental: Filhotes estão constantemente aprendendo e explorando, estimulando sua mente e mantendo-os mentalmente ágeis.</li>
            <br>
            <br>
            <li>Companheiro de Treino: Ter um filhote pode motivar os donos a se manterem ativos e saudáveis, seja através de caminhadas, corridas ou brincadeiras.</li>
            <br>
            <br>
            <li>Amor Incondicional: Os filhotes oferecem amor incondicional, trazendo felicidade e um senso de propósito à vida de seus donos.</li>
            <br>
            <br>
            
        </ul>
    </article>
</div>
    <article>
        <h2>A infinidade de filhotes fofos!</h2>
        <p><strong>Nos links a seguir você poderá saber mais sobre a infinita variedade de filhotes fofos:</strong></p>
        <ol type="a" start="8">
            <li><a href="https://br.pinterest.com/geanefs/fotos-de-cachorro/">Cachorrinhos</a></li>
            <br>
            
            <li><a href="https://br.pinterest.com/search/pins/?q=gatinhos&rs=typed">Gatinhos</a></li>
            <br>
            
            <li><a href="https://br.pinterest.com/search/pins/?q=lontras&rs=typed">Lontras</a></li>
            <br>
            
            <li><a href="https://br.pinterest.com/search/pins/?q=porco%20da%20india&rs=typed">Porquinhos da India</a></li>
            <br>
            
            <li><a href="https://br.pinterest.com/search/pins/?q=passarinhos&rs=typed">Passarinhos</a></li>
            <br>

            <li><a href="https://br.pinterest.com/search/pins/?q=furoes&rs=typed">Furões</a></li>
            
        </ol>
    </article>

    <h2>A seguir veja uma tabela sobre filhotes domésticos vs. selvagens</h2>
    <table>
        <tr> 
            <td><strong>Critério</strong></td> 
            <td><strong>Comportamento</strong></td>
            <td><strong>Alimentação</strong></td>
        </tr>
        <tr> 
            <td><strong>Filhotes Domésticos</strong></td> 
            <td>Brincalhões, sociáveis com humanos</td> 
            <td>Leite da mãe e ração específica</td> 
        </tr>
        <tr> 
            <td><strong>Filhotes Selvagens</strong></td> 
            <td>Instintivo, interagem com a mãe e a ninhada</td>
            <td>Leite da mãe e transição para a caça</td>
        </tr>
    </table>
    
    </div>
<div class="footer">
    <footer>
        <p>© 2024 Meu Blog Fofo <em>by Daiane Dias e Luiza Andrade</em></p>
    </footer>
</div>
</body>
</html>
